@import 'variables';


#teams-content {
  .heading {
    display: flex;

    input {

      &.search-box {
        margin-right: 10px;
        flex: 2;
      }

      &.button {
        flex: 1;
      }
    }
  }

  .results {
    padding-top: 10px;
  }
}