//
// Header
//

#header  {
  position: absolute;
  background: black;
  height: 50px;
  text-align: center;
  width: 100%;
  font-family: 'SeasideResort';
  font-family: 'Lobster';
  // font-family: 'Acknowledgement';
  // font-family: 'Aldo';
  // font-family: 'Tusj';



  .nav-container {
    display: table;
    width: 80%;
    margin: auto;
    height: 100%;
    font-size:22px;

    a {
      color: white;
      text-decoration: none; 
      display: table-cell;
      vertical-align: middle;
      width: 50px;
      text-align: center;

      transition: background-color 0.5s ease;
      
      span {
        display: inline;
        position: relative;
        margin: auto;
      }

      &:hover {
        background-color: #608AA5;
      }
    }

    .banner {
      color: white;
    }
  }
}