@import 'variables';

.button {
  border-radius: $radius;
  width: 100%;
  @include elevation(1);
  @include button-text();
  background: $accent;
  color: $text-light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &[type="submit"], &[active="true"] {
    background: $accent;
    color: $text-light-color;
    outline: 0;
  }
}

.button-wrap {
  display: flex;
  padding: 10px 0;

  .button, [type="button"]{
    flex:1;

    &[type="submit"], &[active="true"] {
      background: $accent;
      color: $text-light-color;
      border: none;
    }

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

input {
  &[type="email"], &[type="password"], &[type="text"] {
    padding-left: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid $divider-color;

    &:active {
      border: 1px solid $accent;
      outline: 0;

      &:hover {
        border: 1px solid $accent;
        outline: 0;
      }
    }

    &:focus {
      border: 1px solid $accent;
      outline: 0;

      &:hover {
        border: 1px solid $accent;
        outline: 0;
      }
    }

    &:hover {
      border: 1px solid $divider-color;
      outline: 0;
    }
  }
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: $red;
  display: none;

  &.main-error {
    padding-top: 5px;
  }
}

form.ng-submitted {
  .invalid {
    border: 1px solid $primary-dark;
  }

  .error {
    font-weight: bold;
    display: block;
  }
}

.input-wrap {
  display: block;
  padding: 10px 0;


  input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid $light-grey;
    min-height: 35px;
    box-shadow: 0px 0px 3px #888888;

    &[type="email"], &[type="password"], &[type="text"] {
      &:required {
        &::-webkit-input-placeholder {
          &:after {
            content: "*";
            padding-left: 5px;
            color: $faded-red;
          }
        }
      }
    }
  }
}
