@import 'variables';

////////////////////////////////////////////////////////////////////////
//
//  Base Styling
//
////////////////////////////////////////////////////////////////////////

html, body {
  padding: 0;
  margin: 0;
  background :none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html {
  background-color: $divider-color;
  height: 100%;
}

body {
  min-height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 5px 0;
}

a {
  cursor: pointer;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

* {
  outline: none;
  box-sizing: border-box;
}

#main-content {
  margin: auto;
  height: 100%;
  padding-top: $nav-height;
  color: $text-color;
  position: absolute;
  width: 100%;
}

#background-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(245, 246, 247, 0);
  z-index: -1;
}

////////////////////////////////////////////////////////////////////////
//
//  Utility styling
//
////////////////////////////////////////////////////////////////////////

.container {
  width: 100%;
}


.ngdialog.ngdialog-theme-default.spinner-container .ngdialog-content {
  background-color: transparent;

  .spinner {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 10px;
  }

  .spinner > div {
    background-color: $light-grey;
    height: 100%;
    margin: 2px;
    width: 4px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}

.sprite {
  font-size: 32;
  transition: 0.25s ease-in-out all;

  &.size-16 { font-size: 16px; }
  &.size-18 { font-size: 18px; }
  &.size-21 { font-size: 21px; }
  &.size-24 { font-size: 24px; }
  &.size-32 { font-size: 32px; }
  &.size-48 { font-size: 48px; }
  &.size-64 { font-size: 64px; }
  &.size-96 { font-size: 96px; }
}

.divider {
  background-color: $divider-color;
  margin: $space 0;

  &.horizontal {
    width: 100%;
    height:1px;
  }

  &.vertical {
    width: 1px;
    height: 100%;
  }
}

.simple-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;

  &.light {
    background-color: $base-color;
  }

  &.dark {
    background-color: $anti-base-color;
  }
}

////////////////////////////////////////////////////////////////////////
//
//  Bootstrap overrides
//
////////////////////////////////////////////////////////////////////////

.container-fluid {
  padding-right:0px;
  padding-left:0px;
}

.row {
  margin: 0;
  padding: 0;

  [class*='col-'] {
    padding-right:0px;
    padding-left:0px;
  }
}