@import 'variables';


////////////////////////////////////////////////////////////////////////
//
//  Base
//
////////////////////////////////////////////////////////////////////////


.card {
  background-color: $base-color;
  border-radius: 2px;
}

.vertical-list {
  overflow-y: auto;

  .list-row {
    padding: $space;
    border-bottom: 1px solid $divider-color;
    display: flex;
  }
}