@import 'variables';


////////////////////////////////////////////////////////////////////////
//
//  Base
//
////////////////////////////////////////////////////////////////////////


.card {
  background-color: $base-color;
  @include elevation(1);
  border-radius: 2px;
}

.vertical-list {
  overflow-y: auto;

  .list-row {
    padding: $space;
    border-bottom: 1px solid $divider-color;
    display: flex;
  }
}

////////////////////////////////////////////////////////////////////////
//
//  Ripple
//
////////////////////////////////////////////////////////////////////////


.ripple {
  overflow:hidden;
  position: relative;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: white;

  &.dark {
    background: black;
  }


  animation: ripple-animation 1s;
}


@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(500);
    opacity: 0;
  }
}