
//
// Colors
//

$grey: #777;
$light-grey: #e7e7e7;
$dark-grey: rgb(73, 71, 71);

$blue: #0099ff; // gabe recommended
$soft-blue: #5BC5E5;
$bold-blue: rgb(73, 162, 189);

$faded-red: rgb(234, 132, 132);
$red: #df3e3e;
$dark-red: #a00;

$orange: #FF9B00;

//
// Heights
//

$nav-height: 70px;