<div id="home-content">
  <div id="hero" ng-controller="SessionCtrl" class="card">
    <div ng-if="session.isSignedIn">
      Signed In
    </div>
    <div ng-if="!session.isSignedIn">
      <div ng-include src="'views/_sign_in_form.html'" id="sign-in-form"></div>
      <widget view="sign_in_form"></widget>
    </div>
    <div style='clear: both'></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div ng-include src="'views/teams.html'" id="teams-wrapper" ng-controller="TeamsCtrl"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card"><a ng-href="#/players">Payers</a></div>
      </div>
    </div>
  </div>
</div>