@import 'variables';

#home-content {
  width: 100%;
  height: 100%;

  #hero {
    background: url('../images/hero_left.png') no-repeat center center;
    width: 100%;
    height: 50%;
    height: 350px;
    color: white;

    #sign-in-form {
      float: right;
      width: 45%;
      min-width: 300px;
      padding: 40px 5%;

      input {
        &[type="email"], &[type="password"], &[type="text"] {
          color: $grey;
        }
      }

      #session-content{
        padding: 0;
      }
    }
  }

};