<div id="tracker-content">
  <header class="state-header">

    <!-- Periods -->

    <div class="periods">
      <span ng-click="periodSelect(1)" ng-class="game.periodNum == 1 ? 'active' : 'ripple'">1</span>
      <span ng-click="periodSelect(2)" ng-class="game.periodNum == 2 ? 'active' : 'ripple'">2</span>
      <span ng-click="periodSelect(3)" ng-class="game.periodNum == 3 ? 'active' : 'ripple'">3</span>
    </div>

    <!-- Time Keepr -->

    <div class="timekeeper">

      <!-- Left actions -->
      <span class="action" ng-if="!timer.edit.active" ng-click="timer.edit.start()">
        <sprite name="ion-edit" size="18"></sprite>
      </span>
      <span class="action" ng-if="timer.edit.active" ng-click="timer.edit.cancel()">
        <sprite name="ion-close" size="18"></sprite>
      </span>

      <!-- Time -->
      <span ng-hide="timer.edit.active" class="display">{{game.period.timer.remaining | date: 'mm:ss'}}</span>


      <span ng-show="timer.edit.active" class="editor">
        <stepper min="0" max="20" ng-model="timer.edit.value.minutes"></stepper>
        <span class="colon">:</span>
        <stepper min="0" max="59" ng-model="timer.edit.value.seconds"></stepper>
      </span>


      <!-- Right actions -->
      <span class="action" ng-if="!game.period.timer.active && !timer.edit.active" ng-click="timer.start()">
        <sprite name="ion-play" size="18"></sprite>
      </span>
      <span class="action" ng-if="game.period.timer.active"  ng-click="timer.stop()">
        <sprite name="ion-pause" size="18"></sprite>
      </span>
      <span class="action" ng-if="timer.edit.active" ng-click="timer.edit.submit()">
        <sprite name="ion-android-done" size="24"></sprite>
      </span>
    </div>
  </header>


  <!-- actions -->

  <section class="actions">

    <!-- Team display/select -->

    <header class="teams">
      <div class="home" ng-click="activeTeam='home'">
        <span>home</span><span class="goal-count">0</span>
      </div>
      <div class="away" ng-click="activeTeam='away'">
        <span>away</span><span class="goal-count">0</span>
      </div>
       <span class="selection-highlight" ng-class="activeTeam == 'away' ? 'right' : 'left'"></span>
    </header>

    <!-- Desktop -->

    <div class="button-sets desktop">
      <actionblock target="home"></actionblock>
      <actionblock target="away"></actionblock>
    </div>

    <!-- Mobile -->

    <div class="mobile">
      <actionblock></actionblock>
    </div>

  </section>

  <section class="summary">
    <h1>Game Summary</h1>
    <div class="events vertical-list">
      <div class="event list-row">
        <span class="team">Home</span>
        <span class="type">G:<span class="number format">21</span></span>
        <span  class="details">
          A: <span class="number format">15</span>, <span class="number format">55</span>
        </span>
        <span class="timing">
          <span class="period">P1</span>
          <span class="time">12:00</span>
        </span>
      </div>
    </div>
  </section>

</div>