<div id="tracker-content">
  <header class="state-header">
    <div class="periods">
      <span class="active">1</span>
      <span>2</span>
      <span>3</span>
    </div>
    <div class="timekeeper">
      <span>20:00</span>
    </div>
  </header>


  <section class="actions">

    <!-- Team display/select -->

    <header class="teams">
      <span class="home active">home</span>
      <span class="away">away</span>
    </header>

    <!-- Desktop -->

    <div class="buttons desktop">
      <actionblock target="home"></actionblock>
      <actionblock target="away"></actionblock>
    </div>

    <!-- Mobile -->

    <div class="mobile">
      <actionblock></actionblock>
    </div>

  </section>

</div>