<div id="ct-nav-header">

    <div class="left container">
      <a ng-href="#/lorem"> <div> lorem </div>  </a>
      <a ng-href="#/resume"> <div> resume </div> </a>
    </div>

    <div class="right container">
      <a ng-href="#/about"> <div> about </div> </a>
      <a ng-href="#/works"> <div> works </div> </a>
    </div>

    <a  class="logo" ng-href="#"> 
      <div class="hex-border left"></div>
      <img src="/images/zach_logo.png"> 
      <div class="hex-border right"></div>
    </a>

</div>