@import 'variables';

.stepper {
  text-align:  center;
  display: inline-block;

  > span, > input  {
    display: block;
    text-align: center;
  }

  input {
    border: $border;
    padding: 0;
  }

  .sprite {
    @include center;
    height: $space * 2;
  }
}