<div id="{{target}}" class="action-set">
  <header>
    <a ng-click="teamSelectModal.open(target)" ng-class="{ placeholder : !team.name }">
      <span ng-if="team.name">{{team.name}}</span>
      <span ng-if="!team.name">Select Team</span>
    </a>
  </header>
  <section>
    <button class="button ripple goal" ng-click="newEvent('Goal', target)">Goal</button>
    <button class="button ripple penalty" ng-click="newEvent('Penalty', target)">Penalty</button>
    <button class="button ripple shot" ng-click="newEvent('Shot', target)">Shot</button>
  </section>
</div>